<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1470, initial-scale=1.0">
    <title>Pantalla Administrar Reservas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <div>
        <header class="hero is-primary">
            <div class="hero-body">
                <p class="title">
                    Administrar Reservas
                </p>
            </div>
        </header>
        <main class="container is-fluid">
            <div class="pt-5">
            	<form action="registrarReserva" method="post">
	                <div class="field">
	                    <label for="escuela" class="label">Escuela:</label>
	                    <div class="control">
	                        <div class="select is-info">
	                            <select id="escuela" name="escuela">
	                            </select>
	                        </div>
	                    </div>
                        <div class="field">
                            <label for="" class="label"></label>
                            <div class="control">
                                <input type="text" class="is-info">
                            </div>
                        </div>
	                </div>
	            </form>
            </div>
        </main>
    </div>
</body>

</html>